@import url(fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter medium';
}

body {
    padding: 15px;
    background-color: #0D0D11;
    width: 100%;
    height: 100%;
}

::selection {
    background-color: #3790FF;
}
.modal-window-bg {
    visibility: hidden;
    transition: .5s;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(223, 223, 223, 0.1);
    z-index: 998;
}
.adress-modal-window {
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 600px;
    height: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(61, 61, 61, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 999;

    img {
        width: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    h1 {
        font-size: 16px;
        color: #fff;
    }
}
.wrapper {
    padding-top: 56px;
}

.nav-menu {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.nav-ul {
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    list-style: none;
    height: 56px;
    width: 590px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(13px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px;

    .nav-link {
        text-decoration: none;
    }

    .link-item {
        position: relative;
        color: #C4DDFA;
        opacity: 0.35;
        transition: .5s;

        &:hover {
            color: #FFFFFF;
            opacity: 1;
        }

        &:hover::before {
            content: '';
            display: block;
            background-color: #fff;
            border-radius: 50px;
            width: 10px;
            height: 10px;
            position: absolute;
            right: -15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.nav-btn {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-family: 'Inter bold';
    background: rgba(55, 144, 255, 0.09);
    border-radius: 13px;
    font-size: 18px;
    line-height: 130.02%;
    /* or 23px */

    color: #3790FF;
    width: 139px;
    height: 59px;
    border: none;
    transition: color .5s;

    &:hover {
        color: #fff;
    }

    &::before {
        content: '';
        z-index: -1;
        display: block;
        width: 0;
        height: 100%;
        background-color: #3790FF;
        transition: width .5s;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover::before {
        width: 100%;
    }
}

.header {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 115px;
}

.header-block_text {
    .header-block_title {
        margin-top: 20px;
        font-family: 'SF Pro Display bold';
        font-size: 88px;
        line-height: 105%;
        /* or 92px */

        color: #FFFFFF;

        b {
            color: #3790FF;
        }
    }

    .header-block_paragraph {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;

        color: #C4DDFA;

        opacity: 0.39;
        margin-top: 15px;
    }
}

.block-ebla {
    display: flex;
    align-items: center;

    .eblo2 {
        position: relative;
        left: -13px;
    }

    .ebla-title {
        font-family: 'Inter bold';
        font-size: 18px;
        line-height: 22px;

        color: #C4DDFA;

        opacity: 0.4;
    }
}

.header-block_btns {
    display: flex;
    margin-top: 30px;

    .header-btn {
        cursor: pointer;
        border: none;
        height: 59px;
        width: 230px;
        font-family: 'Inter bold';
        background: #3790FF;
        border-radius: 13px;
        font-size: 18px;
        line-height: 130.02%;
        /* or 23px */

        color: #0D0D11;
        transition: opacity .5s;

        &:hover {
            opacity: 0.7;
        }
    }

    .header-btn_sec {
        cursor: pointer;
        border: none;
        height: 59px;
        width: 170px;
        background: linear-gradient(95.41deg, rgba(55, 144, 255, 0.1) -2.34%, rgba(55, 144, 255, 0) 173.18%);
        border-radius: 13px;
        font-weight: 600;
        font-size: 18px;
        line-height: 130.02%;
        /* or 23px */

        color: #3790FF;
        margin-left: 15px;
        transition: opacity .5s;

        &:hover {
            opacity: 0.7;
        }
    }
}

.header-img-wrap {
    position: relative;
    top: -220px;
}

.header-block_img {
    position: absolute;
    right: -15px;
}

.history_deposits-block {
    min-width: 960px;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 170px;

    .people-block_wrap {
        display: flex;
        overflow: hidden;
        margin-top: 50px;
        margin-left: -10px;
    }
}

.history_deposits-block_title {
    font-family: 'SF Pro Display regular';
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 105%;
}

.people-cards {
    margin: 0 10px;
    position: relative;
    background: #17171B;
    border-radius: 33.9506px;
    padding: 27px 0 0 0;
    height: 210px;
}

.people-cards_wrap {
    margin: auto;
    height: 100%;
    width: 80%;
}

.card-jame {
    min-width: 395px;
}

.card-dign {
    min-width: 710px;

    .people-cards_wrap {
        width: 90%;
    }
}

.card-ahmed {
    min-width: 415px;

    .people-card_bottom-btn_trade {
        width: 350px;
    }
}

.people-card_top {
    display: flex;
    align-items: center;
    height: 50px;
}

.card-name {
    font-size: 24.4444px;
    line-height: 131.02%;
    /* or 32px */

    color: #FFFFFF;
    margin-left: 10px;
}

.card-time {
    font-weight: 500;
    font-size: 19.0123px;
    line-height: 131.02%;
    /* identical to box height, or 25px */

    color: #C4DDFA;

    opacity: 0.39;
    margin-left: 10px;
}

.people-card_bottom-btn_trade {
    margin: 30px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    border-radius: 16px;
    height: 64px;
    width: 315px;

    border: 2px solid transparent;
    background:
        linear-gradient(to right, #17171B, #17171B),
        linear-gradient(to right, #14F195, #3790FF);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.card-btn_wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.people-card_bottom-btn_puls {
    background: linear-gradient(102.26deg, rgba(51, 129, 227, 0.1) 5.2%, rgba(51, 129, 227, 0) 80.15%);
    border-radius: 16px;
    width: 66px;
    height: 66px;
    font-weight: 600;
    font-size: 33.0719px;
    line-height: 131.02%;
    /* identical to box height, or 43px */


    color: #3790FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.people-card_bottom-btn_bonus {
    background: linear-gradient(285.43deg, rgba(51, 129, 227, 0.1) 18.83%, rgba(51, 129, 227, 0) 96.8%);
    border-radius: 16px;
    width: 210px;
    height: 62px;
    font-weight: 600;
    font-size: 24.4444px;
    line-height: 131.02%;
    /* identical to box height, or 32px */

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: #3790FF;
    border: none;
    cursor: pointer;
}

.btn-trade_left {
    font-weight: 600;
    font-size: 21.4444px;
    line-height: 131.02%;
    /* identical to box height, or 32px */

    color: #14F195;
}

.btn-trade_right {
    font-weight: 600;
    font-size: 21.4444px;
    line-height: 131.02%;
    /* identical to box height, or 32px */

    color: #3790FF;
}

.giveaway-block_wrap {
    max-width: 1600px;
    position: relative;
    margin: 160px auto;
}

.giveaway-block_title {
    font-family: 'SF Pro Display regular';
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 105%;
}

.giveaway-block_content {
    background: rgb(55, 144, 255);
    background: linear-gradient(90deg, rgba(55, 144, 255, 1) 0%, rgba(69, 76, 255, 1) 68%);
    border-radius: 30px;
    height: 230px;
    width: 100%;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.giveaway-content_cards {
    position: relative;
    padding: 27px 0 0 17px;
    width: 24%;
    height: 156px;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}

.cards-child_4 {
    border: 2px solid transparent;
    background:
        linear-gradient(to right, #4558ff, #4558ff),
        linear-gradient(to right, rgba(255, 255, 255, 0.288), #ffffff0e);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.cards-child_3 {
    border: 2px solid transparent;
    background:
        linear-gradient(to right, #4558ff, #4558ff),
        linear-gradient(to right, rgba(255, 255, 255, 0.288), #ffffff0e);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.cards-child_2 {
    border: 2px solid transparent;
    background:
        linear-gradient(to right, #3790FF, #4558ff),
        linear-gradient(to right, rgba(255, 255, 255, 0.288), #ffffff0e);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.cards-child_1 {
    border: 2px solid transparent;
    background:
        linear-gradient(to right, #3790FF, #3790FF),
        linear-gradient(to right, rgba(255, 255, 255, 0.288), #ffffff0e);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

.content_cards_paragraph {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
    margin: 10px 0 0 10px;
}

.giveaway-img {
    position: absolute;
    right: -15px;
    margin: -370px 0 0 0;
}

.rules-block_title {
    font-family: 'SF Pro Display regular';
    color: #fff;
    font-weight: 600;
    font-size: 36px;
    line-height: 105%;
}

.rules-block_wrap {
    max-width: 1600px;
    margin: 0 auto;
}

.rules-block_content {
    margin: 50px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.rules-card {
    overflow: hidden;
    width: 522px;
    height: 284px;

    background: #17171B;
    box-shadow: 0px 87.733px 97.3418px rgba(0, 0, 0, 0.0862625);
    backdrop-filter: blur(33px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
    padding: 27px 0 0 17px;
    transition: background .5s;
    position: relative;

    &:hover {
        background: #3790FF;

        .card-title {
            width: 100%;
            margin-top: 100px;
        }

        .gold-png {
            left: 50%;
            transform: translateX(-50%);
            height: 75px;
        }

        .saif-png {
            height: 100px;
            left: 50%;
            transform: translateX(-50%);
        }

        .card-text {
            transition: margin .5s;
            width: 100%;
            color: rgba(196, 221, 250, 0.45);
        }


    }
}

.saif-png {
    transition: .5s;
    height: 71px;
    position: absolute;
    margin-top: -5px;
    left: 20px;
}

.card-title_saif {
    width: 80%;
}

.gold-png {
    height: 50px;
    transition: .5s;
    position: absolute;
    left: 20px;
}

.card-title {
    text-align: center;
    white-space: nowrap;
    width: 0%;
    transition: .5s;

    margin: 65px 0 0 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 124.02%;
    /* identical to box height, or 25px */

    /* с / white */

    color: #FFFFFF;
}

.card-text {

    white-space: nowrap;
    width: 0%;
    transition: .5s;

    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    color: rgba(196, 221, 250, 0.2);
    margin-top: 2px;
}

.calculat-block_wrap {
    max-width: 1600px;
    margin: auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculat-title {
    position: relative;
    font-size: 80px;
    line-height: 80px;

    color: #FFFFFF;
    font-family: 'HelveticaNeueCyr bold';

    &::after {
        content: url('../img/calculat-x2.png');
        display: block;
        position: absolute;
        right: -25px;
        bottom: 35px;
    }
}

.calculat-paragraph {
    margin-top: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    color: #C4DDFA;

    opacity: 0.39;
}

.block-calculator_content {
    background: #17171B;
    border-radius: 29px;
    width: 760px;
    height: 458px;
    padding: 52px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.calculator-content_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.content-top_col {
    width: 240px;
}

.content-top_col:last-child {
    position: absolute;
    text-align: right;
    right: 0;
}

.top-col_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */

    color: #C4DDFA;

    opacity: 0.39;
    position: absolute;
    top: 0;
}

.top-col_price-from {
    font-size: 52px;
    line-height: 99.99%;
    /* identical to box height, or 52px */

    color: #FFFFFF;
    font-family: 'HelveticaNeueCyr bold';
    margin-top: 10px;
}

.arrow-trade_range {
    position: absolute;
    left: 50%;
}

.top-col_price-from,
.top-col_price-to {
    position: relative;
    top: 25px;
}

.top-col_price-to {
    font-size: 52px;
    line-height: 99.99%;
    /* identical to box height, or 52px */

    color: #14F195;
    font-family: 'HelveticaNeueCyr bold';
    margin-top: 10px;
}

.deposit-range {
    width: 100%;
    position: relative;
    top: -35px;
}

.deposit-range[type=range]:focus::-webkit-slider-runnable-track {
    background: rgb(46, 91, 72);
    background: linear-gradient(90deg, rgba(46, 91, 72, 1) 0%, rgba(61, 150, 244, 1) 58%);
    height: 5px;
    border-radius: 5px;
}

.deposit-range[type=range]::-webkit-slider-runnable-track {
    background: rgb(46, 91, 72);
    background: linear-gradient(90deg, rgba(46, 91, 72, 1) 0%, rgba(61, 150, 244, 1) 58%);
    height: 5px;
    border-radius: 5px;
}

.deposit-range[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgba(61, 150, 244, 1);
    cursor: pointer;
    margin-top: -5px;
    border-radius: 50px;

    border: 3px solid #fff;
    outline: 3px solid #fff;
    outline-offset: -1px;
}

.deposit-range[type=range]:focus::-webkit-slider-thumb {
    background: rgba(61, 150, 244, 1);
    border: 3px solid #fff;
    outline: 3px solid #fff;
    outline-offset: -1px;
    border-radius: 50px;
    transition: none;
}

.content_center-button_wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 35px;
}

.deposit-range_min_max {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    position: relative;
    top: -20px;

    color: #C4DDFA;

    opacity: 0.39;
}

.deposit-btn {
    border: none;
    width: 63px;
    height: 56px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 131.02%;
    /* or 26px */

    color: #FFFFFF;
    cursor: pointer;
}

.button-active {
    background: #3790FF;
}

.calculator-content_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.content_bottom-col {
    .bottom-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        /* identical to box height */

        color: #C4DDFA;

        opacity: 0.39;
    }

    &.col-result {
        margin-top: -20px;
    }
}

.profit-result {
    font-size: 20px;
    line-height: 99.99%;
    /* identical to box height, or 20px */

    font-family: 'HelveticaNeueCyr bold';
    color: #3F94FE;
    margin-top: 0px;
    position: absolute;
}

.bottom-text_gradient {
    font-family: 'HelveticaNeueCyr bold';
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 99.99%;
    background-image: linear-gradient(45deg, #3F94FE, #14F195);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.bottom-text_number {
    margin-top: 10px;
    font-family: 'HelveticaNeueCyr bold';
    font-size: 20px;
    line-height: 99.99%;
    /* identical to box height, or 20px */


    color: #FFFFFF;
}

.bonus-block_wrap {
    max-width: 1600px;
    margin: auto;
    margin-top: 160px;
}

.bonus-block_title {
    font-family: 'HelveticaNeueCyr bold';
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    margin: auto;
    width: 585px;
    position: relative;
    color: #fff;

    &::before {
        content: url('../img/bonus-before.svg');
        display: block;
        position: absolute;
        left: -10px;
        top: -40px;
    }

    &::after {
        content: url('../img/bonus-after.svg');
        display: block;
        position: absolute;
        right: -15px;
        bottom: -25px;
    }
}

.bonus-block_content {
    background: #17171B;
    backdrop-filter: blur(17px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 32px;
    height: 415px;
    width: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 46px 0;
}

.block-content_links {
    padding: 26px;
    min-width: 785px;
    width: 950px;
    max-width: 950px;
    height: 320px;
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 20%);
    display: flex;
}

.content_links-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 139.52%;
    /* identical to box height, or 28px */
    color: #FFFFFF;
}

.bonus-input {
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 139.52%;
    /* identical to box height, or 28px */

    color: #c2dcfa66;
    width: 541px;
    height: 77px;

    background: #0D0D11;
    border-radius: 14px;

    &::placeholder {
        color: #c2dcfa66;
    }
}

.content_links-input_first {
    position: relative;
}

.content_links-input_sec {
    position: relative;
    margin-top: 40px;
}

.links-btn {
    width: 68px;
    height: 40px;

    border-radius: 34px;
    font-weight: 600;
    font-size: 19px;
    line-height: 139.52%;
    border: none;
    cursor: pointer;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translate(-50%);
}

.links-btn_green {
    background: rgba(8, 225, 135, 0.1);
    color: #08E187;
}

.links-btn_blue {
    background: rgba(34, 125, 230, 0.1);
    color: #227DE6;
}

.content-qr_wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    top: 2px;
    left: 40px;
}

.qr_text {
    position: relative;
    top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qr_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 139.52%;
    /* or 28px */

    color: rgba(196, 221, 250, 0.19);
}

.qr-btn {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 130.02%;
    /* or 23px */

    color: #227DE6;
    border: none;
    width: 320px;
    height: 59px;

    background: rgba(34, 125, 230, 0.1);
    border-radius: 11px;
    transition: color .5s;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        color: #fefefe;
    }

    &::before {
        content: '';
        z-index: -1;
        display: block;
        width: 0;
        height: 100%;
        background-color: #3790FF;
        transition: width .5s;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover::before {
        width: 100%;
    }
}

.block-content_gift-wrap {
    padding: 15px 0 0 0;
    text-align: center;
    height: 320px;
    width: 520px;
    background-image: url(../img/bonus-bg.svg);
}

.content_gift-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 124.02%;
    /* identical to box height, or 25px */

    color: #FFFFFF;
}

.content_gift-parapraph {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: rgba(255, 255, 255, 0.45);
    margin-top: 10px;
}

.footer {
    max-width: 1600px;
    margin: 0 auto;
}

.footer-head {
    display: flex;
    justify-content: space-around;
    height: 70px;
    margin-top: 170px;
    background: rgb(55, 144, 255);
    background: linear-gradient(90deg, rgba(55, 144, 255, 1) 0%, rgba(69, 76, 255, 1) 68%);
    border-radius: 12px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 139.52%;

    /* identical to box height, or 28px */

    color: #FFFFFF;
}

.head-col {
    position: relative;
}

.head-col:nth-child(1) {
    left: -50px;
}

.head-col:nth-child(3) {
    left: -40px;
}

.head-col:nth-child(4) {
    left: 15px;
}

.head-col:nth-child(5) {
    left: -30px;
}

.head-col:nth-child(6) {
    left: 20px;
}

.head-col:nth-child(7) {
    left: 50px;
}

.footer-history {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 12px;
    height: 660px;
}

.footer-history-col {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    min-height: 200px;
    border: 1.9px solid rgba(255, 255, 255, 0.09);
    box-sizing: border-box;
    border-radius: 28px;
    margin-top: 12px;
    color: #fff;
}

.history-col-text_TxHash {
    position: relative;
    left: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-col-text_time {
    position: relative;
    left: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-col-text-number_block {
    position: relative;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-col-text_from,
.history-col-text_to,
.history-col-text_value {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;

    .history-col-text {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.history-col-text_from {
    margin-left: 20px;
}

.checked-footer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -110px;
}

.history-col-text_value {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .history-col-text {
        margin-top: 7px;
    }
}

.history-col-text-fee {
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-col-text_from_in {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding-bottom: 20px;
}

.history-col-text-border {
    border: 1px dashed rgba(255, 255, 255, 0.12);
    border-radius: 15px;
    height: 50px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-block_img-p2 {
    display: none;
}

@media (min-width: 1650px) {
    .header-block_img {
        display: none;
    }

    .header-block_img-p2 {
        display: block;
        position: absolute;
        right: -15px;
        margin-top: -80px;
        height: 600px;
    }
}

@media (max-width: 1615px) {
    .giveaway-content_cards {
        padding: 25px 0 0 10px;
    }

    .rules-card {
        width: 32%;
    }
}

@media (max-width: 1600px) {
    .content_cards_paragraph {
        font-size: 15px;
    }

    .content_gift-parapraph {
        font-size: 15px;
    }

    .bonus-input {
        width: 400px;
        font-size: 14px;
    }

    .content-links_input {
        position: relative;
        left: -40px;
    }

    .block-content_links {
        width: 65%;
        display: flex;
        justify-content: space-around;
        padding: 26px 40px 26px 40px;
    }

    .block-content_gift-wrap {
        width: 30%;
        border-radius: 25px;
    }
}

@media (max-width: 1560px) {
    .header-block_text .header-block_title {
        font-size: 80px;
    }

    .card-text {
        font-size: 15px;
    }

    .card-title {
        left: 30px;
    }

    .card-text_gold {
        left: 30px;
    }
}

@media (max-width: 1440px) {
    .header-block_img {
        height: 500px;
        margin-top: 30px;
    }

    .calculat-title {
        font-size: 68px;
    }

    .block-content_links {
        padding: 26px 5% 26px 5%;
    }

    .content_gift-title {
        font-size: 18px;
        margin-top: 20px;
    }

    .content_gift-parapraph {
        font-size: 13px;
    }
}

@media (max-width: 1450px) {
    .checked-footer {
        margin-left: -100px;
    }
}

@media (max-width: 1400px) {
    .content-qr_wrap {
        left: 20px;
    }

    .content-links_input {
        left: -20px;
    }

}

@media (max-width: 1350px) {
    .content_cards_paragraph {
        font-size: 12px;
        line-height: 15px;
        margin-top: 15px;
    }

    .card-text {
        font-size: 12px;
    }

    .rules-card {
        padding: 27px 27px 0 17px;
    }

    .card-title {
        font-size: 15px;
    }

    .calculat-title {
        font-size: 58px;
        line-height: 70px;
    }

    .checked-footer {
        margin-left: -90px;
    }

    .card-title_saif {
        width: 67%;
    }
}

@media (max-width: 1260px) {
    .bonus-block_content {
        padding: 0 20px 0;
    }

    .calculat-title {
        line-height: 60px;
        font-size: 48px;
    }

    .calculat-paragraph {
        font-size: 15px;
    }

    .checked-footer {
        margin-left: -85px;
    }
}

@media (max-width: 1200px) {
    .header-block_text .header-block_title {
        font-size: 70px;
    }

    .header-block_paragraph {
        font-size: 15px;
    }

    .block-content_gift-wrap {
        width: 350px;
    }
}